* {
	box-sizing: border-box;
}

:root {
	--bg: rgb(56, 8, 54);
	--mg: rgb(121, 49, 46);
	--fg: rgb(231, 202, 107);
}

body {
	background: var(--bg);
	margin: 0;
	color: var(--fg);
	font-family: Tenor Sans;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: hand;
	padding: 2px;
	border: 1px solid var(--mg);
}

#currentSong {
	text-align: center;
}

h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	text-align: center;
	font-size: 32px;
	line-height: 48px;
}

h2 {
	margin-top: 0;
}

ol, ul, li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

li {
	margin-top: 4px;
}

#currentPlaylistTitle, #currentSongTitle, #songTime {
	margin-top: 8px;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
}

#currentSongTitle a {
	border: 0;
}

#currentSong {
	background: #666688;
	color: var(--fg);
}

#player {
	position: absolute;
	top: 0;
	right: 0;
	width: 256px;
	height: 128px;
	border-bottom-left-radius: 16px;
	border: 0;
	pointer-events: none;
}

#playlists, #playlist {
	position: absolute;
	top: 144px;
	max-height: calc(100% - 128px - 64px);
	border: 1px solid var(--fg);
	padding: 16px;
	overflow-y: auto;
	background: var(--mg);
	color: var(--fg);
}

#playlists {
	right: 0;
	width: 256px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-right: 0;
}

#playlist {
	left: 0;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-left: 0;
	min-width: 512px;
	max-width: calc(100vw - 240px - 16px);
}

#message {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 32px;
	background: var(--fg);
	color: var(--bg);
	font-size: 32px;
	line-height: 32px;
	overflow: hidden;
}

#newSong {
	display: none;
	margin-top: 8px;
	width: 100%;
	height: 24px;
	font-size: 0;
}

input {
	height: 24px;
	border: 1px solid var(--mg);
	padding: 2px;
}

#newSongName {
	width: calc(100% - 16px - 64px - 16px - 96px);
}

#newSongId {
	margin-left: 16px;
	width: 64px;
}

#newSongButton {
	margin-left: 16px;
	width: 96px;
	height: 24px;
}

#newPlaylist {
	margin-top: 8px;
	width: 100%;
	height: 24px;
	font-size: 0;
}

#newPlaylistName {
	width: calc(100% - 16px - 64px);
}

#newPlaylistButton {
	margin-left: 16px;
	width: 64px;
	height: 24px;
}

button {
	background: var(--bg);
	color: var(--fg);
	border: 0;
}

.delete {
	float: right;
	margin-left: 16px;
	width: 16px;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	padding: 0;
}

.highlighted {
	background: var(--bg);
	border: 1px solid var(--fg);
}